<% if promotion.errors.any? %>
<h4> Ocorreu os seguintes erros: </h4>
<ul>
  <% promotion.errors.full_messages.each do |message| %>
    <li>  <%= message %> </li>
  <% end %>
</ul>
<% end %>

<%= form_with model: promotion do |f| %>
<ul>
    <li><%= f.label :name %> </li><br>
    <li><%= f.text_field :name %></li>
</ul>
<ul>
    <li><%= f.label :description %></li> <br>
    <li><%= f.text_area :description %></li>
</ul>
<ul>
    <li><%= f.label :code %> </li><br>
    <li><%= f.text_field :code %></li>
</ul>

  <ul>
    <li><%= f.label :discount_rate %></li> <br>
    <li><%= f.number_field :discount_rate, within: 0..100 %></li>
  </ul>

  <% unless @promotion.coupons? %>
  <ul>
    <li><%= f.label :coupon_quantity %></li> <br>
    <li><%= f.number_field :coupon_quantity, min: 1 %></li>
  </ul>
  <% end %>

  <ul>
    <li><%= f.label :expiration_date %> <br></li>
    <li><%= f.text_field :expiration_date %></li>

  </ul>

  <ul>
    <li> <%= f.submit %> </li>
  </ul>

<% end %>
