	<%= link_to 'Voltar', promotions_path %>

		<h3> <%= @promotion.name %> </h3>
		<dl>
			<dt> <%= Promotion.human_attribute_name(:description) %> </dt>
			  <dd> <%= @promotion.description %> </dd>
			<dt> <%= Promotion.human_attribute_name(:discount_rate) %> </dt>
			  <dd> <%= number_to_percentage @promotion.discount_rate, precision: 2 %> </dd>
			<dt> <%= Promotion.human_attribute_name(:code) %> </dt>
			  <dd> <%= @promotion.code %> </dd>
			<dt> <%= Promotion.human_attribute_name(:expiration_date) %> </dt>
			  <dd> <%= I18n.localize @promotion.expiration_date %> </dd>
			<dt> <%= Promotion.human_attribute_name(:coupon_quantity) %> </dt>
			  <dd> <%= @promotion.coupon_quantity %> </dd>
		</dl>


  <%= link_to 'Editar', edit_promotion_path(@promotion) %>

  <%= link_to "Deletar", promotion_path(@promotion), method: :delete %>

  <% unless @promotion.coupons? %>
    <%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post %>
  <% end %>

  <% @promotion.coupons.each do |coupon| %>
    <p> <%= coupon.code %> </p>
  <% end %>
